a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: none;
}

.btn-link.link {
  color: black;
  text-decoration: none;
}

.card.task-card {
  border: 0px;
  padding: .05rem 01.25rem;
  background-color: white;
  border: 0px solid rgba(0,0,0,.125);
}

.card-header.task-card {
  border: 0px;
  padding: .05rem 01.25rem;
  background-color: white;
  border: 0px solid rgba(0,0,0,.125);
  font-size: 14pt;
}

.card-header.section-card-header
{
  padding: .05rem 01.25rem;
}
.card-body.section-card-body {
  padding: .25rem;
}

.jumbotron.title {
  padding: 1rem 2rem;
}

.menu {
  text-align: center;
}

@media print {
  .card.section-entry {
      page-break-after: auto;
      page-break-inside: avoid;
    }
  .card-body.section-card-body {page-break-inside: avoid;}

}
