a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: none;
}

.btn-link.link {
  color: black;
  text-decoration: none;
}

.card-header.task-card {
  border: 0px;
  padding: .05rem 01.25rem;
  background-color: white;
}

.card-header.section-card-header
{
  padding: .05rem 01.25rem;
}
.card-body.section-card-body {
  padding: .25rem;
}